@model Rich_text.Models.UsuarioModel

<h1>Home</h1>

<p>
	Aplicação para criar uma formatação de documento. 

</p>

<p>
	Cadastro de usuário e login 

</p>

<p>
	Criar um documento e formatar 

</p>

<p>
	listando o os documentos por tipo de usuário,

</p>

<p>
	Envia um email com o documento criado 

</p>
