@model Rich_text.Models.UsuarioModel

<h1>Home</h1>

<h2>
	Aplicação para criar uma formatação de documento. 
</h2>



<ul>

	<li>
		Cadastro de usuário e login 
	</li>
	<li>
		Criar um documento e formatar 
	</li>
	<li>
		listando o os documentos por tipo de usuário,
	</li>
	<li>
		Envia um email com o documento criado 
	</li>

</ul>
