@model Rich_text.Models.UsuarioModel


<div class= 'principio'>
        <div class="container_content">
        <div class="container_content_inner">
        <div class="title">


          <h1 > @await Component.InvokeAsync("Menu")</h1>

        </div>
        <div class="par">
        <p>
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo reiciendis tempora aspernatur
         molestias odio excepturi? Atque corrupti ad nostrum unde perferendis, modi molestiae
         voluptatibus sint laborum mollitia totam placeat quisquam, doloremque obcaecati suscipit
         praesentium? Voluptas, dolorum? Incidunt similique voluptate nostrum.

        </p>
        </div>
        <div class="btns">
        <button class='btns_more'> Saiba Mais </button>
        </div>
        </div>
        </div>
         <div class="container_outer_img">
         <div class="img-inner">
         <img src='~/Home.png'  alt="" class="container_img"/>
               </div>
             </div>
          </div>
