
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    overflow-y: hidden;
}


.window {
    display: -ms-grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: 100vh;
    grid-template-rows: 100vh;
}

.window-header {
    background: #000;
    position: fixed;
    top: 0px;
    left: 0;
    width: 80px;
    height: 100%;
    padding: 10px 0;
    transition: all 0.5s ease;
}



.navigation {
    padding: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navigation-top,
.navigation-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.navigation-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
    color: #fff;
    -webkit-transition: 0.15s ease;
    transition: 0.15s ease;
    position: relative;
}

    .navigation-item + * {
        margin-top: 0.5rem;
    }

    .navigation-item:hover, .navigation-item.active {
        background-color: grey;
    }

    .navigation-item .avatar {
        max-width: 1.75rem;
        max-height: 1.75rem;
    }

    .navigation-item:hover .navigation-item-title {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

 

.navigation-item-title {
    justify-self: flex-end;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    left: calc(100% + .75rem);
    opacity: 0;
    -webkit-transition: .15s ease;
    transition: .15s ease;
    width: auto;
    z-index: 300;
    background-color: grey;
    display: block;
    white-space: nowrap;
    padding: .5em 1em;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

    

.window-main-header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
}

