@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



body {
    line-height: 1.5;
    min-height: auto;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: var(--c-gray-900);
    color: var(--c-text-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button,
select,
input,
textarea {
    font: inherit;
}

a {
    color: inherit;
}

.responsive-wrapper {
    width: auto;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.app {
    min-height: 80vh;
    width: auto;
    max-width: 1600px;
    background-color: var(--c-gray-800);
    padding: 2vw 4vw 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.app-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
    grid-template-columns: minmax(-webkit-min-content, 175px) minmax(-webkit-max-content, 1fr) minmax(-webkit-max-content, 400px);
    grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 1200px) {
    .app-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid var(--c-gray-600);
    }
}

@media (max-width: 1200px) {
    .app-header-navigation {
        display: none;
    }
}

.app-header-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .app-header-actions {
        display: none;
    }
}

.app-header-actions-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 1px solid var(--c-gray-600);
    margin-left: 2rem;
    padding-left: 2rem;
}

    .app-header-actions-buttons > * + * {
        margin-left: 1rem;
    }

.app-header-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .app-header-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.app-body {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(min-content, 400px);
    grid-template-columns: minmax(-webkit-min-content, 175px) minmax(-webkit-max-content, 1fr) minmax(-webkit-min-content, 400px);
    grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(min-content, 400px);
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
    padding-top: 2.5rem;
}


.icon-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    border: 1px solid var(--c-gray-500);
    color: var(--c-text-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

    .icon-button.large {
        width: 42px;
        height: 42px;
        font-size: 1.25em;
    }

    .icon-button i {
        -webkit-transition: 0.25s ease;
        transition: 0.25s ease;
    }

    .icon-button:hover, .icon-button:focus {
        background-color: var(--c-gray-600);
        -webkit-box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
        box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
    }



.tile {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--c-olive-500);
    color: var(--c-gray-900);
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
}

    .tile:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    .tile:focus-within {
        -webkit-box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
        box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
    }

    .tile:nth-child(2) {
        background-color: var(--c-green-500);
    }

        .tile:nth-child(2):focus-within {
            -webkit-box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
            box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
        }

    .tile:nth-child(3) {
        background-color: var(--c-gray-300);
    }

        .tile:nth-child(3):focus-within {
            -webkit-box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
            box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
        }

    .tile a {
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-weight: 600;
    }

        .tile a .icon-button {
            color: inherit;
            border-color: inherit;
        }

            .tile a .icon-button:hover, .tile a .icon-button:focus {
                background-color: transparent;
            }

                .tile a .icon-button:hover i, .tile a .icon-button:focus i {
                    -webkit-transform: none;
                    transform: none;
                }

        .tile a:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .tile a:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

.tile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .tile-header i {
        font-size: 2.5em;
    }

    .tile-header h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 1.375;
        margin-left: 0.5rem;
    }

        .tile-header h3 span:first-child {
            font-weight: 600;
        }

        .tile-header h3 span:last-child {
            font-size: 0.825em;
            font-weight: 200;
        }

.service-section > h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.service-section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .service-section-header > * + * {
        margin-left: 1.25rem;
    }

@media (max-width: 1000px) {
    .service-section-header {
        display: none;
    }
}

.service-section-footer {
    color: var(--c-text-tertiary);
    margin-top: auto;
}

.search-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

    .search-field input {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
        border-bottom: 1px solid var(--c-gray-600);
        background-color: transparent;
        padding-left: 1.5rem;
    }

    .search-field i {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.dropdown-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

    .dropdown-field select {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
        border-bottom: 1px solid var(--c-gray-600);
        background-color: transparent;
        padding-right: 1.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: var(--c-text-tertiary);
        width: 100%;
    }

    .dropdown-field i {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.flat-button {
    border-radius: 6px;
    background-color: var(--c-gray-700);
    padding: 0.5em 1.5em;
    border: 0;
    color: var(--c-text-secondary);
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    cursor: pointer;
}

    .flat-button:hover, .flat-button:focus {
        background-color: var(--c-gray-600);
    }

.mobile-only {
    display: none;
}

@media (max-width: 1000px) {
    .mobile-only {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

.transfer-section {
    margin-top: 2.5rem;
}

.transfer-section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--c-gray-600);
}

    .transfer-section-header h2 {
        font-size: 1.5rem;
    }



.filter-options {
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    border-left: 1px solid var(--c-gray-600);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

    .filter-options p {
        color: var(--c-text-tertiary);
        font-size: 0.875rem;
    }

        .filter-options p + * {
            margin-left: auto;
            margin-right: 0.75rem;
        }

@media (max-width: 1000px) {
    .filter-options p {
        display: none;
    }
}

.transfers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1.5rem;
}

.transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
}

@media (max-width: 1000px) {
    .transfer {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.transfer + * {
    margin-top: 2rem;
}

.transfer-logo {
    background-color: var(--c-gray-200);
    border-radius: 4px;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .transfer-logo img {
        width: 45%;
    }

.transfer-details {
    margin-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (max-width: 1000px) {
    .transfer-details {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 0;
        margin-top: 1rem;
    }
}

.transfer-details div {
    width: calc(100% / 3 - 1rem);
}

@media (max-width: 1000px) {
    .transfer-details div {
        width: 100%;
    }
}

.transfer-details div + div {
    margin-left: 1rem;
}

@media (max-width: 1000px) {
    .transfer-details div + div {
        margin-left: 0;
        margin-top: 1rem;
    }
}

.transfer-details dd {
    color: var(--c-text-tertiary);
    margin-top: 2px;
}
